.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Card{
  display: flex;
  flex-direction: column;
  align-self: center;
  border: solid 1px;
  margin:5px;
  width: 250px;
  height: 400px;
  background-color: #86bfce21

}
.CartLayout{
 

  display: flex;
  flex-wrap: wrap;
  
}
.pagination{
  size: 100px;
  font-size: large;
  background-color: #93c4d1;
  display: flex;
  justify-content: space-around;
}

#butt{
background-color: antiquewhite;
font-size: larger;
}
.filter
{
  display: flex;
  background-color: #93c4d1;
  justify-content: flex-start;
  align-items: baseline;
}
